@charset "utf-8";

/* 全体のスタイル */
body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #f0f0f0;
}

main {
  padding: 24px;
}

div {
  box-sizing: border-box;
  margin: 8px;
}

img {
  display: block;
  @media screen and (max-width: 760px) {
    width: 100%;
    height: auto;
  }
  width: auto;
  height: 300px;
  margin: 8px;
}

/* ヘッダー部分 */
#top {
  margin: 24px;
  color: #333333;
}

#top:first-letter {
  color: #40a798;
  font-size: 2em;
}

/* 検索部分 */
#div_search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0.9em 2em;
  border: solid 5px #40a798;
  border-radius: 25px;
  font-weight: 600;
  font-size: 1em;
  transition: 0.5s ease;
}

/* selectタグ部分 */
.label-breeds {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.label-breeds::after {
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: "";
  pointer-events: none;
}

.label-breeds select {
  appearance: none;
  min-width: 230px;
  height: 2.8em;
  padding: 0.4em calc(0.8em + 30px) 0.4em 0.8em;
  border: none;
  border-bottom: 2px solid #40a798;
  background-color: #f0f0f0;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}

.label-breeds select:focus {
  outline: none;
}

/* 枚数入力部分 */
#sheets {
  width: 80%;
  padding: 8px 10px;
  border: 1px solid #40a798;
  border-radius: 3px;
  color: #333;
  font-size: 1em;
  line-height: 1.5;
}

#sheets::placeholder {
  color: #999;
}

/* 更新ボタン部分 */
#succession {
  align-items: center;
  width: 250px;
  margin: 0 auto;
  padding: 0.9em 2em;
  border: none;
  border-bottom: solid 5px #107768;
  border-radius: 25px;
  background-color: #40a798;
  color: #f0f0f0;
  font-weight: 600;
  font-size: 1em;
  transition: 0.5s ease;
}

#succession:hover {
  transform: translateY(3px);
  border-bottom-width: 2px;
}

/* 画像部分 */
#div_image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 0.9em 2em;
  border-radius: 25px;
  font-weight: 600;
  font-size: 1em;
  transition: 0.5s ease;
}

/* フッター */
.footer-001 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px 10px 10px;
  background-color: #40a798;
}

.footer-001__copyright {
  margin: 0;
  color: #ffffffb3;
  font-weight: 200;
  font-size: 0.8em;
}
